<div class="container">

  <div class="container">
    <div class="card animated fadeIn">
      <h5 class="card-header">Revision</h5>
      <div class="card-body">
        <h5 class="card-title">Registro de Revisión</h5>
        <form #f="ngForm"  ngNativeValidate  class="form" (ngSubmit)=crearRevision(f)>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="txtname">Nombre del revisor</label>
              <input [(ngModel)]="formrevision.nombre" type="text" class="form-control" name="nombre" id="txtname" required placeholder="Nombre del revisor" />
            </div>
          </div>
          <div class="form-group">

            <label>Aeronave a revisar</label>
            <select [(ngModel)]="formrevision.aeronave" name="aeronave" class="form-control" required>
              <option value="">Seleccione Aeronave a revisar</option>
              <option *ngFor="let aeronave of aeronaves" [value]="aeronave._id">
                {{aeronave.nombre}}
              </option>
            </select>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="txtname">Fecha</label>
              <input [(ngModel)]="formrevision.fecha" type="date" class="form-control" name="fecha" id="fecha" required placeholder="Fecha de revision" />
            </div>
          </div>

          <div class="form-group ">
            <div class="row animated fadeIn">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Pasajeros registrados en la Aeronave X</h3>
                    <form ngNativeValidate class="form">
                      <table class="table table-striped table-bordered table-hover ">
                        <thead class="thead-dark">
                          <tr>
                            <th>#</th>
                            <th>Nombre</th>

                          </tr>
                        </thead>
                        <tbody>
                          <!-- <tr *ngFor="let pasajeros of pasajero;let indice = index">
                            <td>{{ indice+1 }}</td>
                            <td>{{ pasajeros.nombre }} </td>

                          </tr> -->

                        </tbody>
                      </table>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>

        </form>
      </div>
    </div>

  </div>

</div>
