

<div class="container">

  <div class="container">
      <div class="card animated fadeIn">
          <h5 class="card-header">Subir Pasajero</h5>
          <div class="card-body">
            <h5 class="card-title">Ingresar nombre del pasajero</h5>
          <form #f="ngForm"  ngNativeValidate  class="form" >
                <div class="form-group">
                    
                        <label >Pasajero</label>
                        <select name="aeronave" class="form-control" required>
                          <option value="" >Seleccione Pasajero a subir</option>
                          <option *ngFor="let aeronave of aeronave" [value]="aeronave._id">
                            {{aeronave.nombre}}
                          </option>
                        </select>
                </div>
                <div class="form-group">
                    
                  <label >Aeronave actual</label>
                  
                </div>
                <div class="form-group">
                    
                  <label >Aeronave</label>
                  <select name="aeronave" class="form-control" required>
                    <option value="" >Seleccione Aeronave</option>
                    <option *ngFor="let aeronave of aeronave" [value]="aeronave._id">
                      {{aeronave.nombre}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                    
                  <label >Aeronave actual</label>
                  
                </div>
                
                  <button type="submit" class="btn btn-primary">Subir</button>
                
              </form>
          </div>
        </div>

  </div>

</div>

<hr>
<div class="container">

  <div class="container">
      <div class="card animated fadeIn">
          <h5 class="card-header">Bajar Pasajero</h5>
          <div class="card-body">
            <h5 class="card-title">Ingresar nombre del pasajero</h5>
          <form #f="ngForm"  ngNativeValidate  class="form" >
                <div class="form-group">
                    
                        <label >Pasajero</label>
                        <select name="aeronave" class="form-control" required>
                          <option value="" >Seleccione Pasajero a bajar</option>
                          <option *ngFor="let aeronave of aeronave" [value]="aeronave._id">
                            {{aeronave.nombre}}
                          </option>
                        </select>
                </div>
                <div class="form-group">
                    
                  <label >Aeronave Actual</label>
                  
                </div>
                
                  <button type="submit" class="btn btn-primary">Subir</button>
                
              </form>
          </div>
        </div>

  </div>

</div>
<hr>